<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cumparcarti</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    
</head>
<body>
    <h3>cumparamcarti.eu</h3>
    {% for hpara in headerparagrafe %}
        <header>
            <div id="header-img">
                <img src="{{hpara.poza}}" alt="no image found" sizes="100px" srcset="{{para.poza}}">
            </div>
            <div id="header-text">
                <h1>{{hpara.titlu}}</h1>
                <p>{{hpara.paragraf1}}</p>
                <p>{{hpara.paragraf2}}</p>
                {% for contact in contacte %}
                    <div id="telefon">
                        <div class="fa fa-phone"></div>
                            <a href="tel:+4{{contact.tel}}/?"><h3>{{contact.tel}}</h3></a>
                    </div>
                    <span>sau</span>
                    <a href="mailto:{{contact.email}}" >{{contact.email}}</a>
                {% endfor %}
            </div>
        </header>
    {% endfor %}
    
    <main>
        {% for para in paragrafe %}
        <div id="main">
            {% if para.pk == 2 or para.pk == 4 or para.pk == 6 or para.pk == 8 %}
                <div id="main-text">
                    <h2>{{para.titlu}}</h2>
                    <p>
                        &emsp;{{para.paragraf}}
                    </p>
                </div>
                <div id="main-img">
                    <img src="{{para.poza}}" alt="no image found" sizes="100px" srcset="{{para.poza}}">
                </div>
            {% else %}
                <div id="main-img">
                    <img src="{{para.poza}}" alt="no image found" sizes="100px" srcset="{{para.poza}}">
                </div>
                <div id="main-text">
                    <h2>{{para.titlu}}</h2>
                    <p>
                        &emsp;{{para.paragraf}}
                    </p>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </main>

    <h2>Contact:</h2>
    <div class="socializare">
        {% comment %} <div class="logo_bootom">
            <img src='{% static "logo_flo_2_R.png" %}' alt="" sizes="" srcset="" width='50px'>
        </div> {% endcomment %}
        <div>
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            <p>facebook</p>
        </div>
        {% for contact in contacte %}
            <div>
                <a href="tel:+{{contact.tel}}" class="fa fa-phone" type="phone"></a>
                <p>Telefon: </p>
                <p>{{contact.nume}}</p>
            </div>
        {% endfor %}
        {% for contact in contacte %}
            <div>
                <a class="fa fa-whatsapp" href="https://wa.me/+4{{contact.tel}}?text=Buna ziua!"></a>
                <p>WhatsApp</p>
                <p>{{contact.nume}}</p>
            </div>
        {% endfor %}
        {% for contact in contacte %}
            <div>
                <a href="mailto:venonz2004@gmail.com" class="fa fa-send"></a>
                <p>Email</p>
                <span>{{contact.email}}</span>
            </div>
        {% endfor %}
    </div>
    
    <div id="logo">
        <span>by</span>
    </div>
    <div>
        <a href="mailto:florymakex@gmail.com">Email</a>
        <span> / </span>
        <a href="http://www.linkedin.com/in/huciog-florin-arpad">linkedin</a>
    </div>
</body>
</html>